
<form
  class="space-y-6"
  [formGroup]="loginFormGroup"
  (ngSubmit)="signIn()"
>
  <!-- Error Messages -->
  <div
    class="error-area"
    *ngIf="error().length > 0"
  >
    <p>
      <!-- {{ 'feature.security.page.sign-in.error.description' | translate: { count: error().length } }} -->
      <app-label-with-param
        [label]="'feature.security.page.sign-in.error.description'"
        [params]="{ count: error().length }"
      ></app-label-with-param>
    </p>

    <!--
      Here we use the directive LabelWithParamDirective on an HTML Tags
    -->
    <p
      labelWithParam
      [label]="'feature.security.page.sign-in.error.description'"
      [params]="{ count: error().length }"
    ></p>

    <!-- Here we use the pipe LabelWithParamPipe -->
    <p>
      {{'security-feature.sign-in-page.error.description' | labelWithParam:{count: error().length} }}
    </p>

    <p *ngFor="let error of error()">
      <span *ngIf="error.control === 'username'; else password_error_template">
      <!--  {{ 'feature.security.page.sign-in.error.username-required' | translate }} -->
      <app-label-with-param
        [label]="'feature.security.page.sign-in.error.'+error.control+'-'+error.error"
      ></app-label-with-param>
      </span>
      <ng-template #password_error_template>
        <span>
          {{ 'feature.security.page.sign-in.error.password-required' | translate }}
        </span>
      </ng-template>

    </p>
  </div>
  <div>
    <label
      for="username"
      class="block text-sm font-medium leading-6 text-gray-900"
    >
      {{ 'feature.security.page.sign-in.label.username' | translate }}
    </label>
    <div class="mt-2">
      <input
        id="username"
        name="username"
        formControlName="username"
        type="text"
        autocomplete="email"
        required
        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      >
    </div>
    <div
      *ngIf="loginFormGroup.controls['username'].invalid && (loginFormGroup.controls['username'].dirty || !loginFormGroup.controls['username'].untouched) "
    >
      <div
        *ngIf="loginFormGroup.controls['username'].errors?.['required']"
      >
        Please enter a valid username [length: 1, 10]
      </div>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <label
        for="password"
        class="block text-sm font-medium leading-6 text-gray-900"
      >
        {{ 'feature.security.page.sign-in.label.password' | translate }}
      </label>
      <div class="text-sm">
        <a
          href="#"
          class="font-semibold text-indigo-600 hover:text-indigo-500"
        >
          Forgot password?
        </a>
      </div>
    </div>
    <div class="mt-2">
      <input
        id="password"
        name="password"
        type="password"
        formControlName="password"
        autocomplete="current-password"
        required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      >
    </div>
  </div>



  <div>
    <button
      type="submit"
      class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      [disabled]="!loginFormGroup.valid"

    >
      Sign in
    </button>
  </div>
</form>
